# [kernel]
# Prebuild kernel, useful for quick 'make && kd run' iterations
# prebuild = "arch/x86/boot/bzImage"
# Kernel config base, this keywords enable set of options in kernel config. For
# example, "xfs" sets all CONFIG_XFS_* to "yes". The "xfstests" sets all
# necessary options for xfstests to run (tested mainly with XFS)
# flavors = ["xfstests", "xfs"]
# With this three options you can set kernel version to build into the VM. Note
# that if "prebuild" option is set this is not used. The header files of this
# kernel will be used to build xfsprogs and xfstests.
# repo = "file:///home/aalbersh/Projects/kernel/file-attr"
# rev = "038d61fd642278bab63ee8ef722c50d10ab01e8f"
# version = "6.16"
#
# Use any additional options to set, the option can be set to "yes", "no", and
# "module"
# [kernel.config]
# CONFIG_SECURITY = "yes"
# CONFIG_SECURITY_SELINUX = "yes"
#
# [xfsprogs]
# repo = "file:///home/aalbersh/Projects/xfsprogs-dev"
# rev = "adf2358f1aa2f625d910c1c84fd89a9cd4412d2b"
#
# You also change Kernel header used to compile xfsprogs or xfstests. By
# default, if this section is not changed, xfsprogs will be compiled against
# default project kernel (which is latest kernel).
# [xfsprogs.kernel_headers]
# repo = "file:///home/aalbersh/Projects/kernel/file-attr"
# rev = "038d61fd642278bab63ee8ef722c50d10ab01e8f"
# version = "6.16"
#
# The xfstests are run as a systemd service named "xfstests"
# [xfstests]
# repo = "file:///home/aalbersh/Projects/xfstests-dev"
# rev = "c25f471bc76bff506e15403d7832eb64783d8a39"
# args = "-s xfs_4k xfs/633"
# extra_env = """
# export MOUNT_OPTIONS='-o uquota,gquota,pquota'
# """
#
# This matrix execution setup for testing of multiple configurations. The
# 'common' section is default configuration for all other sections. Then, you
# can add as many [run.name] variants as necessary.
#
# Run with:
# 	kd run --matrix alpha
#
# If [matrix] is used at least one [matrix.run] should be defined
#
# [matrix]
# [matrix.common]
# [matrix.common.xfstests]
# repo = "file:///home/aalbersh/Projects/xfstests-dev"
# rev = "c25f471bc76bff506e15403d7832eb64783d8a39"
# args = "-s xfs_4k xfs/633"
# 
# [[matrix.run]]
# 
# [matrix.run.alpha]
# [matrix.run.alpha.xfsprogs]
# repo = "file:///home/aalbersh/Projects/xfsprogs-dev"
# rev = "adf2358f1aa2f625d910c1c84fd89a9cd4412d2b"
# 
# [[matrix.run.beta]]
# [matrix.run.beta.xfsprogs]
# repo = "file:///home/aalbersh/Projects/xfsprogs-dev"
# rev = "adf2358f1aa2f625d910c1c84fd89a9cd4412d2b"

# vim: syntax=toml
